aside {
    width: 30rem;
    margin: 5rem;
    border: 2px solid black;
    padding: 2rem;
    background-color: aliceblue;
    color: rgb(49, 47, 47);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

main image {
    width: 150px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid rgb(180, 180, 180);
    text-align: center;
}